body {
    background-image: url(/Images/paperbackground.png);
    background-repeat:repeat;
    background-size: cover;
}
#frequentitems, #recentitemsbody, #Sorting {
    width: 400px;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid #000;
    background-color: floralwhite;
    border-radius: 25px;
    padding: 20px;
}
#list_items {
    width: 400px;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid #000;
    opacity: .92;
    background-color: floralwhite;
    border-radius: 25px;
    padding: 20px;
}
#freqitemsTitle, #list_items, #labelrecent, #sortingTitle {
    font-size: 16px;
    font: bold;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#error{
    color:red;
}
#options {
    text-align: center;
   
}
#signoutButton, #backButton, #storeLocatorButton {
    text-decoration: none;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
#icons {
    width: 400px;
    margin-right: auto;
    margin-left: auto;
    
}
#settingsBtn{
    width : 40px;
    height:40px;
    float:right;
    
}
#loginImage {
    width: 20%;
    height: 2%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#userBtn {
    width: 40px;
    height: 40px;
    float:left;
}
.Headertext{
    color:floralwhite;
}
.Textbox {
    height: 20px;
    width: 85px;
    font-size: 10pt;
    border-radius: 10px;
    border: solid 1px black;
    padding: 3px;
    display:inline;
}
.TextboxLong {
    height: 20px;
    width: 300px;
    font-size: 10pt;
    border-radius: 10px;
    border: solid 1px black;
    padding: 3px;
}
.TextboxLong2 {
    height: 20px;
    width: 265px;
    font-size: 10pt;
    border-radius: 10px;
    border: solid 1px black;
    padding: 3px;
    display: inline;
}
#addBtn {
    width: 6%;
    height:6%;
    padding-top: 8px;
}
#freqplus {
    width: 6%;
    height: 6%;
}
#gotit, #freqRemove {
    background-color: saddlebrown;
    color: white;
    padding: 5px 5px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 30%;
    font-size: 15px;
    float: right;
}
#freqUpdate, #SortButton {
    background-color: saddlebrown;
    color: white;
    padding: 5px 5px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 30%;
    font-size: 15px;
    float: right;
    margin-right: 4px;
}
#addfromlist {
    background-color: saddlebrown;
    color: white;
    padding: 5px 5px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 45%;
    font-size: 15px;
    float: right;
    
}
#freqitems, #grdItems, #recent_items_source {
    text-align: center;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
#freqitemsalign{
    display:inline-block;
}
#align_adjust{
    padding-top: 5px;
}
#recentadd {
    background-color: saddlebrown;
    color: white;
    padding: 5px 5px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 15%;
    font-size: 15px;
    float: none;
    margin-right:4px;
}
#recentcancel {
    background-color: saddlebrown;
    color: white;
    padding: 5px 5px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 15%;
    font-size: 15px;
    float: none;
    margin-right: 4px;
}

.GridHeadertext {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: saddlebrown;
    font: bold;
}
.ddl {
    border: 1px solid saddlebrown;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
    background-color: saddlebrown;
    color: white;
}
    
.ddl listitem:hover {
    background-color: #FFFAF0;
    color: black;
}
.ddl:hover {
    background-color: saddlebrown;
    color: white;
}

.accordion {
    background-color: #FFFAF0;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 450px;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    border: 1px solid #000;
    border-radius: 25px;
    padding: 20px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font: bold;
    font-size:18px;
}

    .active, .accordion:hover {
        background-color: saddlebrown;
        color: white;
    }

.panel {
    padding: 0 18px;
    display: block;
    background-color: saddlebrown;
    overflow: hidden;
}

#container{
    text-align:center;
}







